## Data import

In [1]:
import pandas as pd
import numpy as np

dataset = pd.read_csv('../data/dataset.tsv', sep='\t')

In [2]:
data = dataset.drop(columns=['age'], inplace=False)
labels = dataset['age']

In [4]:
data.describe()

,NM_173803,NM_014423,NM_001103167,NR_134623,NR_024490,NM_018397,NM_001037671,NR_106859,NM_133458,NM_001080424,...,NR_029666,NM_080390,NM_001177675,NR_125786,NM_001291993,NM_021923,NM_017417,NM_004354,NR_024278,NM_145282
count,133.000000,133.000000,133.000000,133.00000,133.000000,133.000000,133.0,133.000000,133.000000,133.000000,...,133.0,133.000000,133.000000,133.0,133.000000,133.000000,133.000000,133.000000,133.000000,133.000000
mean,0.124474,18.345647,0.414218,0.00197,1.006414,0.547263,0.0,27.668767,6.133226,1.655526,...,0.0,0.098594,0.003947,0.0,5.590233,23.029218,0.005812,6.852872,1.189158,0.002639
std,0.078508,3.426647,0.171433,0.01309,0.316317,0.808279,0.0,7.176748,1.397833,0.531323,...,0.0,0.209719,0.012712,0.0,1.114522,10.267254,0.013509,2.821790,0.450767,0.013269
min,0.000000,9.253000,0.042000,0.00000,0.505000,0.014000,0.0,9.928000,3.503000,0.518000,...,0.0,0.000000,0.000000,0.0,3.285000,2.703000,0.000000,1.505000,0.392000,0.000000
25%,0.069000,16.064000,0.297000,0.00000,0.777000,0.106000,0.0,22.684000,5.052000,1.343000,...,0.0,0.000000,0.000000,0.0,4.823000,15.905000,0.000000,5.019000,0.918000,0.000000
50%,0.108000,17.884000,0.400000,0.00000,0.946000,0.218000,0.0,27.585000,5.961000,1.593000,...,0.0,0.046000,0.000000,0.0,5.642000,23.009000,0.000000,6.177000,1.067000,0.000000
75%,0.163000,20.292000,0.506000,0.00000,1.175000,0.534000,0.0,32.172000,6.822000,2.001000,...,0.0,0.104000,0.000000,0.0,6.233000,29.242000,0.000000,8.148000,1.413000,0.000000
max,0.389000,29.769000,1.014000,0.09700,1.973000,3.964000,0.0,45.641000,10.299000,4.561000,...,0.0,1.657000,0.089000,0.0,8.883000,50.808000,0.091000,16.739000,2.793000,0.112000

In [5]:
len(data.columns)

27142

## Removal of useless features

In [3]:
const_cols = data.columns[data.std() == 0.0]

In [4]:
data_non_zero_var = data.drop(columns=const_cols, inplace=False)

In [5]:
len(data_non_zero_var.columns)

23091

## Log transform

In [12]:
data_non_zero_var_no_zeros = data_non_zero_var.replace(0, 1e4)

In [14]:
data_non_zero_var_no_zeros.min().min()

0.001

Minimum non-zero value in the dataframe is 1e-3. So let us add an amount of 1e-5 before log transform

In [15]:
data_log_transform = np.log2(data_non_zero_var + 1e-5)
data_log_transform.head()

,NM_173803,NM_014423,NM_001103167,NR_134623,NR_024490,NM_018397,NR_106859,NM_133458,NM_001080424,NM_001271816,...,NM_022495,NR_027141,NM_080390,NM_001177675,NM_001291993,NM_021923,NM_017417,NM_004354,NR_024278,NM_145282
0,-2.910393,4.085765,-1.369557,-16.609640,-0.675742,-3.120169,4.978699,2.459434,0.387374,1.099639,...,4.094321,2.676947,-16.609640,-16.609640,2.120687,4.869971,-4.643496,2.618006,-0.921363,-16.60964
1,-2.231007,4.067984,-2.573381,-16.609640,-0.512493,-3.698810,4.806943,2.694437,0.440431,0.964960,...,3.829343,2.815577,-16.609640,-16.609640,2.496209,4.980071,-16.609640,2.486202,0.137517,-16.60964
2,-4.210630,4.018457,-1.286269,-16.609640,0.182705,-1.815986,4.695716,2.759158,0.580155,0.911508,...,3.912363,2.711497,-4.755941,-16.609640,2.616360,5.441152,-16.609640,2.592160,-0.040957,-16.60964
3,-3.921172,3.939698,-2.756233,-16.609640,-0.545803,-1.717809,4.230819,2.529324,0.755323,0.946364,...,3.832587,2.484914,-16.609640,-5.505697,1.907664,5.299062,-16.609640,2.335715,0.546966,-16.60964
4,-2.680290,4.076645,-1.988447,-3.473771,-0.311130,-3.411042,4.207972,2.336857,0.468854,1.493140,...,3.816396,2.546959,-3.457831,-16.609640,2.272922,4.216611,-16.609640,1.923723,0.308023,-16.60964

## Removing correlated features

In [16]:
corr_matrix = data_log_transform.corr().abs()

upper = corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(bool))
corr_cols = [column for column in upper.columns if any(upper[column] > 0.95)]

In [8]:
corr_cols

['NM_018055',
 'NM_178556',
 'NM_014702',
 'NR_110251',
 'NM_000517',
 'NM_080668',
 'NR_046536',
 'NM_001858',
 'NM_001142557',
 'NR_021489',
 'NM_012400',
 'NM_001004686',
 'NM_001004484',
 'NM_001286725',
 'NR_138471',
 'NM_001190907',
 'NR_132987',
 'NM_007317',
 'NM_001310155',
 'NM_005030',
 'NM_002105',
 'NM_001067',
 'NM_001100391',
 'NM_001286378',
 'NM_206886',
 'NR_038395',
 'NM_001004685',
 'NM_014070',
 'NM_001040694',
 'NM_001345926',
 'NR_031698',
 'NM_182681',
 'NM_001297655',
 'NR_104621',
 'NM_001134888',
 'NM_182508',
 'NR_125902',
 'NR_003923',
 'NM_005420',
 'NM_022809',
 'NR_034161',
 'NR_038331',
 'NM_005913',
 'NM_017779',
 'NM_001305792',
 'NM_199127',
 'NM_003026',
 'NM_001038640',
 'NM_001098173',
 'NR_031753',
 'NR_126008',
 'NM_001308470',
 'NM_001276351',
 'NM_001166131',
 'NM_022346',
 'NR_109777',
 'NM_014865',
 'NR_128706',
 'NM_001195388',
 'NM_001080407',
 'NR_046756',
 'NR_036580',
 'NM_001286123',
 'NR_030411',
 'NR_030361',
 'NM_003035',
 'NM_001005200',
 'NM_181446',
 'NM_152717',
 'NM_145171',
 'NM_001320948',
 'NM_001122979',
 'NM_181449',
 'NR_120518',
 'NM_001565',
 'NM_003504',
 'NM_005408',
 'NM_016816',
 'NM_001310219',
 'NR_132393',
 'NR_103547',
 'NM_001042427',
 'NM_004125',
 'NM_000834',
 'NM_001206789',
 'NM_020638',
 'NR_030370',
 'NM_152533',
 'NR_029429',
 'NR_031731',
 'NM_014420',
 'NR_103449',
 'NM_006027',
 'NM_005267',
 'NM_173495',
 'NR_107061',
 'NM_178229',
 'NM_000704',
 'NR_110150',
 'NR_003083',
 'NR_046085',
 'NR_036489',
 'NM_000761',
 'NR_047489',
 'NR_102274',
 'NM_001282963',
 'NM_000936',
 'NR_040021',
 'NR_037627',
 'NM_198216',
 'NR_106745',
 'NM_001002029',
 'NM_144508',
 'NM_032415',
 'NM_006236',
 'NR_026969',
 'NM_005288',
 'NM_018926',
 'NM_207320',
 'NR_102696',
 'NR_003187',
 'NR_026769',
 'NM_020525',
 'NM_001005287',
 'NM_001251883',
 'NM_001042543',
 'NR_038972',
 'NM_199420',
 'NM_005782',
 'NR_039894',
 'NM_152338',
 'NM_032880',
 'NR_036168',
 'NR_046113',
 'NR_038837',
 'NR_031723',
 'NM_152562',
 'NM_001301024',
 'NR_039622',
 'NR_126519',
 'NR_135687',
 'NM_001330490',
 'NM_018304',
 'NM_001005242',
 'NR_039868',
 'NM_002122',
 'NR_002454',
 'NR_001559',
 'NR_110622',
 'NM_018124',
 'NR_024495',
 'NR_003209',
 'NM_001146312',
 'NM_001278615',
 'NM_020675',
 'NM_001282563',
 'NR_135123',
 'NM_021027',
 'NM_005295',
 'NM_024421',
 'NR_125911',
 'NR_110074',
 'NM_001004467',
 'NM_001281520',
 'NR_027110',
 'NM_001026213',
 'NM_001328615',
 'NM_001282789',
 'NM_001290052',
 'NM_001001417',
 'NR_038324',
 'NR_040117',
 'NM_152401',
 'NM_001195597',
 'NM_001281454',
 'NR_002735',
 'NR_039921',
 'NM_198510',
 'NM_152453',
 'NM_001001412',
 'NM_001002923',
 'NM_001172560',
 'NM_001291466',
 'NR_031664',
 'NR_110658',
 'NM_018902',
 'NR_110552',
 'NM_006342',
 'NM_001012425',
 'NM_181646',
 'NM_033049',
 'NR_047005',
 'NM_001317971',
 'NR_109959',
 'NM_013377',
 'NM_015190',
 'NM_002689',
 'NM_001005326',
 'NR_029836',
 'NM_018228',
 'NM_001286687',
 'NR_033826',
 'NM_001144997',
 'NR_126391',
 'NR_134994',
 'NM_054031',
 'NM_004885',
 'NM_001017520',
 'NM_001300889',
 'NR_037849',
 'NM_014321',
 'NR_045681',
 'NM_144972',
 'NR_073036',
 'NR_029512',
 'NM_006498',
 'NM_001256692',
 'NM_003015',
 'NR_036119',
 'NM_001256368',
 'NR_026970',
 'NM_002471',
 'NM_019612',
 'NM_001162496',
 'NR_104187',
 'NM_001101337',
 'NM_031411',
 'NM_178044',
 'NM_145811',
 'NR_110902',
 'NM_001005194',
 'NM_002261',
 'NR_030174',
 'NM_001309427',
 'NM_001015000',
 'NM_018713',
 'NR_001546',
 'NR_030311',
 'NM_007298',
 'NM_002875',
 'NM_014477',
 'NM_001303462',
 'NM_178525',
 'NM_001317769',
 'NM_000091',
 'NM_001114108',
 'NR_026760',
 'NR_027933',
 'NM_001199252',
 'NR_120510',
 'NR_046366',
 'NM_001191055',
 'NM_152997',
 'NR_109926',
 'NR_037696',
 'NR_120344',
 'NM_012310',
 'NR_047003',
 'NR_028322',
 'NR_004847',
 'NM_001322168',
 'NM_017975',
 'NM_006183',
 'NM_138969',
 'NM_183062',
 'NM_015912',
 'NR_125919',
 'NM_002476',
 'NR_110799',
 'NR_135588',
 'NM_001318828',
 'NR_029393',
 'NM_020406',
 'NR_132741',
 'NR_049884',
 'NR_029829',
 'NM_134259',
 'NM_001304731',
 'NM_001142770',
 'NM_003005',
 'NM_173821',
 'NR_106918',
 'NM_001112704',
 'NM_001443',
 'NR_110385',
 'NR_038447',
 'NM_001320643',
 'NM_022142',
 'NM_018369',
 'NR_027300',
 'NM_001297602',
 'NM_001287262',
 'NR_040050',
 'NM_001078170',
 'NR_046370',
 'NM_001136032',
 'NR_003928',
 'NR_130724',
 'NR_130772',
 'NR_029507',
 'NM_181788',
 'NR_038878',
 'NM_007117',
 'NM_001197139',
 'NM_031200',
 'NM_182746',
 'NM_138419',
 'NM_004118',
 'NM_031157',
 'NM_033440',
 'NM_173523',
 'NM_001097579',
 'NR_125808',
 'NR_046365',
 'NM_013435',
 'NM_025087',
 'NM_152891',
 'NR_126000',
 'NR_046774',
 'NM_173170',
 'NM_001282301',
 'NR_130179',
 'NM_003817',
 'NM_001202559',
 'NR_028375',
 'NR_039914',
 'NM_001291861',
 'NM_145701',
 'NM_018101',
 'NM_018098',
 'NM_005947',
 'NM_177535',
 'NR_046218',
 'NR_045529',
 'NM_001199803',
 'NR_003528',
 'NM_001004491',
 'NM_001164470',
 'NM_139284',
 'NR_036623',
 'NM_001146339',
 'NM_001256154',
 'NM_198582',
 'NM_001001917',
 'NM_001291463',
 'NR_033557',
 'NM_207299',
 'NM_001005413',
 'NM_018915',
 'NR_133682',
 'NR_134576',
 'NR_134632',
 'NM_133335',
 'NM_001134657',
 'NM_005916',
 'NR_133008',
 'NM_000135',
 'NM_033023',
 'NM_020996',
 'NR_033423',
 'NM_032712',
 'NM_001329426',
 'NM_014750',
 'NR_039987',
 'NR_030267',
 'NM_001319198',
 'NM_001042616',
 'NM_001286747',
 'NR_001550',
 'NM_001077511',
 'NM_001005168',
 'NM_001080525',
 'NM_001005517',
 'NM_001258000',
 'NR_031711',
 'NM_003735',
 'NM_021794',
 'NM_152512',
 'NM_139166',
 'NM_024504',
 'NM_032015',
 'NR_125973',
 'NR_106832',
 'NM_001199818',
 'NR_039972',
 'NM_178483',
 'NM_031965',
 'NM_001171182',
 'NM_001291703',
 'NM_001012416',
 'NM_001195190',
 'NR_028082',
 'NR_110075',
 'NM_022150',
 'NM_001135649',
 'NM_001012709',
 'NM_021784',
 'NM_018899',
 'NM_004198',
 'NM_001302861',
 'NM_001301239',
 'NM_001144990',
 'NR_104155',
 'NM_001195127',
 'NM_152446',
 'NM_012363',
 'NM_014708',
 'NM_173512',
 'NM_032517',
 'NR_134261',
 'NR_134313',
 'NR_128720',
 'NR_109805',
 'NR_001443',
 'NR_125419',
 'NM_001256014',
 'NM_006900',
 'NM_194287',
 'NM_197975',
 'NM_006479',
 'NR_046615',
 'NR_120526',
 'NM_001317184',
 'NM_021101',
 'NM_033341',
 'NM_001004432',
 'NM_001257309',
 'NR_039675',
 'NM_001308232',
 'NR_132963',
 'NR_046728',
 'NR_038895',
 'NM_032092',
 'NM_001278795',
 'NR_036513',
 'NR_037846',
 'NR_131950',
 'NM_001321310',
 'NM_001010890',
 'NM_018136',
 'NM_006397',
 'NM_002407',
 'NM_018912',
 'NM_001265577',
 'NR_033142',
 'NM_001301233',
 'NM_001042507',
 'NM_145060',
 'NM_001286474',
 'NM_002163',
 'NR_110669',
 'NM_203399',
 'NR_033263',
 'NM_001134877',
 'NM_001204062',
 'NR_033974',
 'NR_003705',
 'NM_001005466',
 'NM_018908',
 'NM_002216',
 'NR_038984',
 'NR_038914',
 'NR_003237',
 'NM_001143991',
 'NR_136188',
 'NR_049831',
 'NM_004224',
 'NM_015848',
 'NM_001320004',
 'NM_018898',
 'NM_001284301',
 'NM_000123',
 'NR_126445',
 'NM_001267580',
 'NM_018929',
 'NR_107016',
 'NR_002712',
 'NM_001282397',
 'NM_182481',
 'NM_032753',
 'NM_001162483',
 'NR_134520',
 'NR_102423',
 'NM_021098',
 'NM_004111',
 'NR_031640',
 'NM_000879',
 'NM_144643',
 'NR_026767',
 'NR_110814',
 'NR_132964',
 'NM_001098671',
 'NR_028357',
 'NM_001708',
 'NM_001025200',
 'NM_001290079',
 'NR_121644',
 'NM_001303128',
 'NR_046783',
 'NM_139289',
 'NR_049796',
 'NM_000590',
 'NR_110839',
 'NM_018518',
 'NM_001039500',
 'NR_030393',
 'NR_001568',
 'NM_030774',
 'NM_001011719',
 'NM_001199893',
 'NR_049841',
 'NM_175057',
 'NM_020242',
 'NR_110138',
 'NM_032391',
 'NM_024745',
 'NM_001162997',
 'NM_001166691',
 'NM_001281767',
 'NR_030378',
 'NM_032965',
 'NM_024306',
 'NR_031702',
 'NR_039812',
 'NM_001005471',
 'NR_133678',
 'NR_038906',
 'NM_014264',
 'NM_032403',
 'NM_198992',
 'NM_001232',
 'NM_199051',
 'NM_004662',
 'NM_001319953',
 'NM_000946',
 'NM_001145966',
 'NR_036113',
 'NR_110402',
 'NR_033973',
 'NM_178840',
 'NM_002711',
 'NR_135283',
 'NM_018928',
 'NM_138961',
 'NM_138960',
 'NR_030281',
 'NM_001039397',
 'NR_037870',
 'NR_037924',
 'NM_017594',
 'NM_001005469',
 'NR_049874',
 'NR_134582',
 'NR_036071',
 'NR_031636',
 'NR_110758',
 'NM_001286480',
 'NM_001127710',
 'NM_001271187',
 'NR_134332',
 'NR_138047',
 'NM_000811',
 'NM_001001317',
 'NM_001085474',
 'NM_001199345',
 'NM_001301167',
 'NR_033985',
 'NM_003053',
 'NM_194313',
 'NR_029891',
 'NR_034145',
 'NM_001135086',
 'NR_136178',
 'NR_121565',
 'NR_110481',
 'NM_021248',
 'NR_030348',
 'NM_032918',
 'NR_107062',
 'NR_049854',
 'NR_111947',
 'NM_001097611',
 'NM_001347902',
 'NM_018918',
 'NM_004856',
 'NM_001105569',
 'NR_109758',
 'NR_038833',
 'NR_135304',
 'NM_005091',
 'NM_001005241',
 'NM_001320949',
 'NM_000174',
 'NR_122046',
 'NR_046582',
 'NM_004260',
 'NM_001317226',
 'NM_002001',
 'NM_023919',
 'NR_024274',
 'NR_134925',
 'NR_138091',
 'NM_001282300',
 'NR_120584',
 'NR_108084',
 'NR_125397',
 'NR_136574',
 'NM_001346978',
 'NR_110827',
 'NR_027922',
 'NM_018921',
 'NM_004625',
 'NM_001243142',
 'NM_001013403',
 'NR_029873',
 'NR_117092',
 'NM_001128618',
 'NM_178014',
 'NM_001168',
 'NR_030319',
 'NM_001270411',
 'NM_025098',
 'NR_073010',
 'NM_005998',
 'NM_001005282',
 'NM_181534',
 'NM_003007',
 'NR_134943',
 'NM_032417',
 'NM_001291464',
 'NR_036091',
 'NR_003603',
 'NR_045796',
 'NR_039748',
 'NM_005315',
 'NM_182649',
 'NM_015135',
 'NR_135531',
 'NM_001129758',
 'NM_005609',
 'NM_001170741',
 'NM_001100168',
 'NM_001164464',
 'NR_026679',
 'NR_036099',
 'NR_003235',
 'NM_001001956',
 'NM_001195272',
 'NM_007179',
 'NR_104616',
 'NM_018974',
 'NR_120475',
 'NR_125907',
 'NR_046618',
 'NR_109860',
 'NM_004701',
 'NR_033946',
 'NM_006998',
 'NM_205856',
 'NR_024184',
 'NM_007280',
 'NR_107060',
 'NM_001042705',
 'NM_006191',
 'NM_001001657',
 'NM_033520',
 'NR_036167',
 'NR_120392',
 'NM_002060',
 'NM_001786',
 'NM_172377',
 'NM_001079827',
 'NM_003924',
 'NR_104999',
 'NM_001742',
 'NM_012112',
 'NM_001276700',
 'NM_001198557',
 'NR_120507',
 'NM_181814',
 'NR_033893',
 'NM_001428',
 'NR_051985',
 'NM_005963',
 'NM_001302456',
 'NM_152414',
 'NM_005668',
 'NR_024007',
 'NM_002123',
 'NM_145061',
 'NM_001105519',
 'NM_013333',
 'NR_120320',
 'NM_153325',
 'NR_036150',
 'NM_002965',
 'NM_001321413',
 'NM_001286947',
 'NR_135051',
 'NM_198437',
 'NM_001042551',
 'NM_001005323',
 'NM_181776',
 'NR_003262',
 'NM_173489',
 'NR_128710',
 'NR_109872',
 'NR_003275',
 'NR_030357',
 'NM_001185096',
 'NM_003736',
 'NR_046621',
 'NR_037802',
 'NM_001128629',
 'NM_001161748',
 'NM_001278501',
 'NM_018904',
 'NM_018917',
 'NM_001114107',
 'NR_103814',
 'NM_030623',
 'NR_003320',
 'NM_182562',
 'NM_174901',
 'NM_001204403',
 'NM_001114403',
 'NR_120484',
 'NR_037426',
 'NM_001030287',
 'NM_000214',
 'NM_001105580',
 'NM_001198845',
 'NM_018916',
 'NM_080869',
 'NM_001317227',
 'NR_038436',
 'NM_012145',
 'NM_001318060',
 'NM_002388',
 'NR_039853',
 'NM_181704',
 'NM_018911',
 'NM_001004311',
 'NM_022978',
 'NR_039680',
 'NM_001169154',
 'NR_039925',
 'NM_001142531',
 'NM_018913',
 'NM_019077',
 'NM_001038705',
 'NM_001134659',
 'NR_131240',
 'NM_018919',
 'NM_018927',
 'NM_000450',
 'NR_126407',
 'NR_027421',
 'NR_037843',
 'NM_001123392',
 'NM_001161580',
 'NM_018384',
 'NM_018905',
 'NM_001005290',
 'NM_020407',
 'NR_132731',
 'NM_024320',
 'NM_005367',
 'NR_109806',
 'NM_015879',
 'NR_135619',
 'NM_000261',
 'NM_003658',
 'NM_001317999',
 'NR_047651',
 'NM_019098',
 'NM_005146',
 'NR_110819',
 'NM_001321073',
 'NM_001809',
 'NM_003173',
 'NM_005069',
 'NM_001008938',
 'NM_001254',
 'NM_175940',
 'NR_135818',
 'NR_036216',
 'NM_021146',
 'NR_120387',
 'NR_029487',
 'NR_039752',
 'NM_018702',
 'NM_173086',
 'NR_110606',
 'NM_175611',
 'NM_001098169',
 'NM_001252598',
 'NM_001008749',
 'NM_001199974',
 'NM_080473',
 'NM_152743',
 'NR_136256',
 'NM_001330065',
 'NM_018487',
 'NM_001346510',
 'NM_173493',
 'NR_120603',
 'NM_012287',
 'NM_024674',
 'NM_004523',
 'NM_000815',
 'NM_001720',
 'NM_003097',
 'NM_001278081',
 'NM_001313692',
 'NR_028366',
 'NM_001297600',
 'NR_144629',
 'NM_173525',
 'NR_131941',
 'NR_027086',
 'NM_080386',
 'NM_001037967',
 'NM_031423',
 'NM_001145718',
 'NM_001145468',
 'NM_001039152',
 'NM_016095',
 'NR_036191',
 'NR_134496',
 'NM_003008',
 'NM_015356',
 'NM_018922',
 'NR_002763',
 'NM_001320048',
 'NM_005334',
 'NM_001302695',
 'NM_003836',
 'NM_001204098',
 'NR_029967',
 'NM_033225',
 'NM_001164463',
 'NM_015261',
 'NR_037775',
 'NM_178457',
 'NM_016426',
 'NM_001004134',
 'NR_024592',
 'NR_126040',
 'NM_001291465',
 'NM_014571',
 'NR_046870',
 'NM_206939',
 'NR_038384',
 'NM_001211',
 'NM_001190819',
 'NM_006461',
 'NM_018925',
 'NM_001134707',
 'NM_001297616',
 'NM_007019',
 'NR_128711',
 'NM_001631',
 'NR_111945',
 'NR_130172',
 'NR_132652',
 'NM_001199120',
 'NM_001308190',
 'NR_073178',
 'NR_103558',
 'NM_152315',
 'NR_026764',
 'NR_037608',
 'NM_016343',
 'NM_001172649',
 'NM_174951',
 'NR_046570',
 'NM_001136562',
 'NR_125926',
 'NM_001032283',
 'NM_000686',
 'NM_000982',
 'NR_036086',
 'NM_019078',
 'NM_001080453',
 'NM_000128',
 'NM_001127230',
 'NR_109935',
 'NR_003061',
 'NR_023920',
 'NR_125838',
 'NR_110741',
 'NR_047530',
 'NM_001033',
 'NM_012369',
 'NR_024276',
 'NR_111920',
 'NR_003186',
 'NM_001024644',
 'NR_033405',
 'NR_126383',
 'NM_007084',
 'NM_014443',
 'NR_133677',
 'NR_109985',
 'NR_038918',
 'NR_034134',
 'NM_002234',
 'NR_111000',
 'NR_103850',
 'NM_001291459',
 'NM_001079935',
 'NM_015161',
 'NM_033068',
 'NM_001318951',
 'NM_001160418',
 'NM_004767',
 'NM_001318521',
 'NM_145649',
 'NM_001648',
 'NR_120364',
 'NM_001322371',
 'NM_022092',
 'NM_001099334',
 'NM_001265',
 'NM_173483',
 'NM_173354',
 'NR_126405',
 'NR_126159',
 'NM_004312',
 'NM_001042618',
 'NR_036198',
 'NR_039971',
 'NR_123730',
 'NM_016929',
 'NR_038966',
 'NM_001199797',
 'NM_001142548',
 'NM_133261',
 'NR_024243',
 'NM_002432',
 'NM_001167583',
 'NM_005284',
 'NM_030928',
 'NM_001256347',
 'NM_000518',
 'NM_001080477',
 'NR_049807',
 'NM_018923',
 'NR_125906',
 'NM_001164425',
 'NM_001277323',
 'NR_133055',
 'NM_001146105',
 'NM_004237',
 'NM_001165964',
 'NM_001206691',
 'NR_037926',
 'NM_001613',
 'NR_027004',
 'NR_029663',
 'NM_001172654',
 'NM_138353',
 'NM_001301202',
 'NR_026841',
 'NM_002002',
 'NR_030202',
 'NM_013308',
 'NM_001105571',
 'NM_020064',
 'NM_001145051',
 'NR_047462',
 'NR_030172',
 'NM_152259',
 'NR_037928',
 'NR_037597',
 'NM_001039182',
 'NM_001164377',
 'NM_003774',
 'NR_024481',
 'NR_039973',
 'NM_183404',
 'NR_002784',
 'NR_015383',
 'NR_120504',
 'NM_001639',
 'NR_039740',
 'NM_023014',
 'NR_029482',
 'NM_001317857',
 'NR_077225',
 'NM_181606',
 'NR_126379',
 'NM_080864',
 'NM_001005181',
 'NR_003220',
 'NR_031705',
 'NM_002263',
 'NM_031309',
 'NR_111893',
 ...]

In [17]:
len(corr_cols)

1608

In [18]:
data_uncorr = data_log_transform.drop(columns=corr_cols, inplace=False)
len(data_uncorr.columns)

21483

## MinMax scaling

In [19]:
data_uncorr_min = data_uncorr.min()
data_uncorr_max = data_uncorr.max()

data_uncorr_minmax = (data_uncorr - data_uncorr_min)/(data_uncorr_max - data_uncorr_min)
data_uncorr_minmax.describe()

,NM_173803,NM_014423,NM_001103167,NR_134623,NR_024490,NM_018397,NR_106859,NM_133458,NM_001080424,NM_001271816,...,NM_022495,NR_027141,NM_080390,NM_001177675,NM_001291993,NM_021923,NM_017417,NM_004354,NR_024278,NM_145282
count,133.000000,133.000000,133.000000,133.000000,133.000000,133.000000,133.000000,133.000000,133.000000,133.000000,...,133.000000,133.000000,133.000000,133.000000,133.000000,133.000000,133.000000,133.000000,133.000000,133.000000
mean,0.845681,0.570988,0.689957,0.022284,0.472448,0.511688,0.648298,0.496459,0.511881,0.636003,...,0.564400,0.460483,0.466053,0.099867,0.514268,0.688468,0.175175,0.596859,0.532424,0.041645
std,0.177776,0.160495,0.143315,0.147259,0.220975,0.218995,0.181902,0.205904,0.145155,0.208194,...,0.174068,0.191817,0.378868,0.281645,0.204026,0.185279,0.348955,0.164833,0.182008,0.192480
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.836371,0.472078,0.614323,0.000000,0.316183,0.358490,0.541678,0.339535,0.437950,0.484321,...,0.478829,0.314848,0.000000,0.000000,0.386047,0.604109,0.000000,0.499984,0.433350,0.000000
50%,0.878758,0.563926,0.707837,0.000000,0.460599,0.486210,0.669910,0.492957,0.516427,0.664802,...,0.570956,0.425991,0.701787,0.000000,0.543714,0.729975,0.000000,0.586164,0.509948,0.000000
75%,0.917702,0.672029,0.781670,0.000000,0.619675,0.644905,0.770749,0.618060,0.621252,0.814460,...,0.675168,0.554009,0.769654,0.000000,0.643857,0.811688,0.000000,0.701127,0.652983,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

## Variance thresholding

In [20]:
from sklearn.feature_selection import VarianceThreshold

var_thresh = VarianceThreshold(0.01)
data_signif_var = var_thresh.fit_transform(data_uncorr)
data_signif_var.shape

(133, 21483)

In [18]:
data_signif_var_cols = var_thresh.get_feature_names_out(data_uncorr.columns)
data_signif_var_cols

array(['NM_014423', 'NM_001103167', 'NR_024490', ..., 'NM_021923',
       'NM_004354', 'NR_024278'], dtype=object)

In [21]:
data_minmax_signif_var = var_thresh.fit_transform(data_uncorr_minmax)
data_minmax_signif_var.shape

(133, 21080)

## Using sklearn's feature selection

This will be more important during the next phase of work, where we (will) train models. These features can then be used to verify if the selection is indeed fruitful for the task at hand.

In [55]:
from sklearn.feature_selection import SelectKBest, f_regression, mutual_info_regression

feature_selector = SelectKBest(score_func=f_regression, k=50)
data_condensed = feature_selector.fit_transform(data_non_zero_var, labels)
feature_selector.get_feature_names_out(data_non_zero_var.columns)

array(['NM_147150', 'NM_005439', 'NR_033339', 'NM_139178', 'NR_028028',
       'NM_001310', 'NM_015713', 'NM_001101801', 'NM_012106', 'NM_002028',
       'NM_001146032', 'NR_037425', 'NM_019600', 'NM_002035', 'NM_005659',
       'NM_017789', 'NM_002952', 'NM_173647', 'NM_001278728', 'NM_006755',
       'NM_183352', 'NM_001102575', 'NM_001202559', 'NM_001284368',
       'NM_015055', 'NM_004547', 'NM_002311', 'NM_001199933',
       'NM_001317743', 'NM_016404', 'NM_006351', 'NM_003941',
       'NM_001134231', 'NM_138554', 'NM_014372', 'NM_175617', 'NM_016217',
       'NM_001136562', 'NM_001199662', 'NM_001300899', 'NM_014595',
       'NM_004911', 'NM_001145337', 'NM_015188', 'NM_006858', 'NM_001023',
       'NM_022470', 'NM_001287222', 'NM_030571', 'NM_000852'],
      dtype=object)

In [56]:
feature_selector = SelectKBest(score_func=mutual_info_regression, k=50)
data_condensed = feature_selector.fit_transform(data_non_zero_var, labels)
feature_selector.get_feature_names_out(data_non_zero_var.columns)

array(['NM_147150', 'NR_126526', 'NM_001310', 'NM_012106', 'NM_006848',
       'NM_198793', 'NM_018368', 'NM_001267548', 'NM_001321636',
       'NM_019600', 'NM_021076', 'NM_001134396', 'NR_030366',
       'NM_001278728', 'NM_006755', 'NM_001286581', 'NR_037661',
       'NM_001201479', 'NM_015229', 'NM_001288778', 'NM_030665',
       'NM_033285', 'NM_021228', 'NM_001136200', 'NM_014551',
       'NM_001278163', 'NM_013995', 'NM_001136562', 'NM_001300899',
       'NM_144564', 'NM_001007189', 'NM_005632', 'NM_014595',
       'NM_001293234', 'NM_145030', 'NM_012249', 'NM_014205',
       'NM_001142575', 'NM_014713', 'NM_001153', 'NM_002167',
       'NM_001017923', 'NM_004421', 'NM_012234', 'NM_015649', 'NM_022470',
       'NM_016255', 'NM_006114', 'NM_130787', 'NM_000852'], dtype=object)